@{
    ViewData["Title"] = "Welcome to Type-DB Server UI";
}
<div class="jumbotron">
    <div class="container">
        <img src="~/static/logo.png" class="logo" />
        <h1 class="display-4">Welcome to Type-DB</h1>
        <p class="lead">💡 It's a serialized, in-memory and strongly typed database developed in C#</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
</div>
@*<section class="py-5">
    <img src="~/static/logo.png" class="logo" />
    <h1>Welcome to Type-DB Server</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>

</section>*@
<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h3>All Running Instances</h3>
            <small class="text-muted">Display the instances in all the clusters and on iceland.</small>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">Instance 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link"><i class="fas fa-external-link-alt"></i> Open Instance</a>
                    <a href="#" class="card-link text-danger"><i class="fas fa-trash-alt"></i> Drop</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">Instance 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link"><i class="fas fa-external-link-alt"></i> Open Instance</a>
                    <a href="#" class="card-link text-danger"><i class="fas fa-trash-alt"></i> Drop</a>
                </div>
            </div>
        </div>
    </div>
</div>